$primary: #1976d2 !default;
$secondary: #26a69a !default;
$accent: #9c27b0 !default;
$positive: #21ba45 !default;
$negative: #c10015 !default;
$info: #31ccec !default;
$warning: #f2c037 !default;
